body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    padding: 9px 48px;
    background-color: #212529;
    color: white;
}

.navbar h4 {
    font-size: 24px;
    font-weight:bold;
    margin-bottom: 0;
}


.navbar div a {
    color: white;
    text-decoration: none;
    margin-left: 52px;
}

.content {
    width: 85%;
}

.btn-Add {
    width: 13.5%;
}

.col_1 {
    width: 13.5%;
}

.col_2 {
    width: 67%;
}

.btn-danger {
    padding: 6px 17px;
}

.split-pages button{
    padding: 8px 16px;
    border: 1px solid #dee2e6;
    background-color: white;
    margin: 25px 0px;
}

.split-pages .back-page {
    border-radius: 4px 0px 0px 4px;
}

.next-page {
    border-radius: 0px 4px 4px 0px;
}

.split-pages .this-page {
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: white;
}

.disabled-page {
    background-color: #e9ecef !important;
    color: #dee2e6 !important;
    cursor: default !important;
  }

.footer {
    color: white;
    background-color: #333333;
}

.content table{
    background-color: white;
}

.content table th, td{
    padding: 8px;
}

table thead{
    background-color: #212529;
    color: white;
}

td{
    border: 2px solid #DEE2E6;
    border: 0px 8px;
    
}

table tr{
    border: 2px solid #DEE2E6;
    
}

table th{
    border: 2px solid #373B3E;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table_category {
    min-height: 484.8px;
}

